/* ------- VAR */
:root {
  /* sizes */
  --ws-w: max(90vw, 1920px);
}

/* ------- Utils */
html,
body,
p,
h1,
h2,
h3,
h4 {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

/* ------- PAGE */

.Nav > * {
  flex-grow: 1;
}

/* ------- WebGl */
.Canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: -1;
}

.SocialIcon > svg {
  width: 2em;
  height: 2em;
  display: inline;
  margin-right: 1em;
}

/* ------- Animation */
.an-scroller {
  animation: scroller 20s linear infinite;
}

@keyframes scroller {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
