/* ------- VAR */
:root {
  /* sizes */
  --ws-w: max(90vw, 1920px);
}

/* ------- PAGE */

.Nav > * {
  flex-grow: 1;
}

/* ------- WebGl */
#c  {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
